# abs.config
# -------------------------------------------------
# Paths
# -------------------------------------------------

PACKAGES_PATH="/media/storage/packages/my"
CHROOT_BASE_PATH="/media/storage/packages/my/chroot"
READY_MADE_PACKAGES_PATH="/media/storage/packages/abs_ready"

# Derived paths
MASTER_CHROOT="${CHROOT_BASE_PATH}/base"

# -------------------------------------------------
# Build Environment Defaults
# -------------------------------------------------
# The default build environment if no flag (-l or -h) is provided.
# Valid values: "local" or "chroot"
DEFAULT_BUILD_ENVIRONMENT="local"

# -------------------------------------------------
# Repositories
# -------------------------------------------------
declare -A REPOSITORIES
REPOSITORIES["arch"]="https://gitlab.archlinux.org/archlinux/packaging/packages"
REPOSITORIES["cachyos"]="https://github.com/CachyOS/CachyOS-PKGBUILDS.git"
REPOSITORIES["ventureoo"]="https://github.com/ventureoo/PKGBUILDs.git"
REPOSITORIES["venomo"]="https://github.com/Ven0m0/PKG.git"

DEFAULT_REPOSITORY="arch"

# Optional override for package-specific config file.
# By default abs.sh reads ./packages.config.
# PACKAGES_CONFIG_FILE="/path/to/packages.config"

# -------------------------------------------------
# System Update Config
# -------------------------------------------------
# Command to use for system update WITHOUT repository refresh (-U)
SYSTEM_UPDATE_COMMAND="yay -Su"
# Command to use for full system update WITH repository refresh (-U -R)
SYSTEM_UPDATE_WITH_REPOSITORY_REFRESH_COMMAND="yay -Syu"

# Parameter to use to ignore a package during system update
# For pacman and yay, this is usually "--ignore"
SYSTEM_UPDATE_IGNORE_FLAG="--ignore"

# Array of packages to completely ignore during a full system update (-U)
# These will be appended to the pacman command alongside manually compiled packages
SYSTEM_UPDATE_IGNORE_PACKAGES=("firefox" "firefox-pure")
